{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отдыхаем.ру</title>

    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
</head>
<body>
    <header class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <nav>
                <a href="{% url 'home' %}">главная</a>
                <a href="{% url 'instructions' %}">инструкция</a>
                <a href="{% url 'events_all' %}">все события</a>
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">войти</a>
                    <a href="{% url 'registration' %}">регистрация</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'account' %}">профиль</a>
                    <a href="{% url 'logout' %}">выйти</a>
                {% endif %}
            </nav>
        </div>
    </header>
    {%  block body %}

    {% endblock %}
</body>
</html>